APP_NAME=EVChargingMVP
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ev_charging
DB_USERNAME=postgres
DB_PASSWORD=postgres

QUEUE_CONNECTION=database
CACHE_STORE=database

JWT_SECRET=
PRICE_PER_KWH=0.20
